/* เพิ่มการตั้งค่า CSS สำหรับ Home.js */

.home-container {
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 28px;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;

}

.departments-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* กำหนดให้มี 5 คอลัมน์เสมอ */
    gap: 20px;
    justify-items: center;
}


.department-card {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    width: 180px;
    height: 180px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.department-card:hover {
    transform: translateY(-10px); /* เพิ่มการเคลื่อนไหวเมื่อมีการ hover */
}

.folder-icon img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.department-link {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    display: block;
}

.department-link:hover {
    color: #007bff; /* เมื่อ hover จะเปลี่ยนสี */
}

.error-message {
    color: red;
    font-size: 1.2rem;
}

@media (max-width: 1200px) {
    .departments-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .departments-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .departments-grid {
        grid-template-columns: 1fr;
    }
}